[PACT_API_any_ip_prod]
PACT_API_TOKEN_KEY = example-pact-api-token-key-change-me-2026
PACT_API_V1_BASE_URL = http://127.0.0.1:8010/p1
PACT_API_V2_BASE_URL = http://127.0.0.1:8010/api/p2
PACT_EMERGENCY_CALL_URL = http://127.0.0.1:8010/account/pact/emergency_call
