[S3_MINIO_localhost]
S3_ENDPOINT_URL = http://127.0.0.1:9000
S3_CONSOLE_URL = http://127.0.0.1:9001
S3_ACCESS_KEY = EXAMPLEMINIOACCESSKEY
S3_SECRET_KEY = example-minio-secret-key-change-me-2026
S3_DEFAULT_BUCKET = minio-bucket-example
